.header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  background-color: #004080;
  padding: 1px 20px; 
  color: white;
  font-family: Arial, sans-serif;
  z-index: 10; 
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.logo {
  font-size: 0.5rem; 
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-categorias {
  display: flex;
  gap: 20px; 
  padding: 1%;
}

.nav-categorias a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-categorias a:hover {
  color: #0066cc; 
  transform: translateY(-2px); 
  text-decoration: underline;
}

.form-busca {
  display: flex;
  align-items: center;
  margin-right: 2%;
}

.form-busca input {
  padding: 8px 12px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
}

.form-busca button {
  padding: 8px 12px;
  border: none;
  background-color: #0066cc;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-busca button:hover {
  background-color: #0052a3;
}

.logout {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.logout button {
  background-color: #0052a3; /* Cor de fundo vermelha */
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout button:hover {
  background-color: #e60000; /* Cor de fundo vermelha escura */
}
